node_modules
.next
.git
*.log
prisma/*.db
prisma/*.db-journal
.env
.env.local
.env.production
Dockerfile
Dockerfile.worker
docker-compose.yml
docker-compose.prod.yml
README.md
README-DEPLOY.md
scratch
deploy.sh
nginx-pos.conf
